.button {
	background-color: #0074D9; 
	/*padding: 16px;*/
    border: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    width: 32px;
    margin: 2px;

    -webkit-transition-duration: 0.2s; /* Safari */
    transition-duration: 0.2s;
    cursor: pointer;
    border-radius: 4px;
}

.button:hover {
    background-color: #F012BE;
    color: white;
}

.boxthing{
	/*position: absolute;*/
	width: 288px;
	padding: 4px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	align-items: center;
	background-color: white;
	border-radius: 4px;
	box-shadow: 10px 10px 10px #888888;
}

span {
	color: #0074D9;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 12px;
	font-weight: 800;
}

.textinput {
	border: none; /* <-- This thing here */
    border:solid 1px #ccc;
    border-radius: 4px;
    color: gray;
    height: 20px;
}

h1 {
	/*font-family: Helvetica;*/
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
	font-weight: 800;
	text-align: center;
	color: #0074D9;
}

label {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 14px;
}

body {
	align-content: center;
	background-color: #AAAAAA;
	margin: 0px;
}

canvas {
	border-radius: 4px;
	box-shadow: 10px 10px 10px #888888;
	display: flex;
}

#trackselect {
	background-color: darkslateblue;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
}

.trackselecttable {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 48px;

	-webkit-user-select: none;  /* Chrome all / Safari all */
  	-moz-user-select: none;     /* Firefox all */
  	-ms-user-select: none;      /* IE 10+ */
  	user-select: none;          /* Likely future */  

	overflow: hidden;
	/*margin: 32px;*/
	padding: 32px;

	/*display: flex;*/

	display: flex;
	align-items: center;
	margin: 0px;
}

.trackselecttrack {
	

	border-radius: 8px;
	border:solid 4px lightcoral;
	color: lightcoral;
	height: 120px; 
    width: 120px;
	text-align:center; 
    vertical-align:middle;
	margin: 4px;
	cursor: pointer;

	/*box-shadow: 10px 10px 10px #888888;*/

	transition-duration: 0.1s;
	line-height: 110px;

	/*position: relative;*/
	/*top: 50%;*/
	/*transform: translateY(-50%);*/
}

.trackselecttrack[selected="true"] {
	background-color:lightcoral;
	border-color: lightcoral;
	color: darkslateblue;
}